@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


* {
    /* border: solid red; */
}

.noteit__header {
    /* position: -webkit-sticky; */
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    /* z-index: 1000; */
    display: flex;
    padding-right: 1rem;
    /* background-color: white; */
    /* background-color: var(--vn-blue); */

}

.noteit__title {
    font-family: 'Alfa Slab One', cursive;
    /* font-family: 'Space Mono', monospace; */
    font-size: 1.9rem;
    /* color: var(--vn-blue); */
    text-align: center;
    line-height: 3rem;
}

.noteit__logo {
    /* filter: invert(90%); */
    /* fill: var(--vn-blue); */
    filter: invert(40%) sepia(97%) saturate(2275%) hue-rotate(210deg) brightness(98%) contrast(101%);
}

.noteit__cred {
    flex: 1 0 auto;
}

.noteit__footer {
    /* position: static; */
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    font-family: 'Space Mono', monospace;
}

h5 {
    font-size: 0.7rem;
    /* font-family: 'Alfa Slab One', cursive; */
}

:root {
    --vn-blue: #4377fb;
    --bs-blue: #4377fb;
    --bs-primary: #27923d;
    background-color: var(--bs-dark);
    /* --bs-dark-rgb: #4377fb; */
    /* --bs-body-font-family: 'Space Mono', monospace; */

    /* --bs-secondary: #4377fb; */
    --bs-body-font-size: 0.8rem;
}

root {
    background-color: var(--bs-dark);

}

.card-body {
    /* background-color: var(--vn-blue);; */
}

.noteit__container {
    /* background-color: var(--vn-blue);; */
}

.noteit__form
.noteit__card {
    /* font-family:'Space Mono', monospace; */
    font-family:'Alfa Slab One', cursive;

}


.noteit__header-title {
    text-align: end;
}

.noteit__btn-new {
    /* background-color: rgba(220, 0, 0, 1); */
    /* background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0)); */

    --bs-btn-bg: var(--bd-violet-bg);

    --bs-blue: #4377fb;
    --bs-primary: #27923d;
    /* background-color: var(--bs-dark); */


}

.btn-primary {
    background-color: var(--vn-blue) !important;
    border-color: var(--vn-blue) !important;
}

.btn-primary:hover, .btn-primary:active{
    background-color:  #315fd3 !important;
    border-color: #315fd3 !important;
}